<app-navbar></app-navbar>
<div class="bg-info p-2 text-dark bg-opacity-10">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h4>SEARCH</h4>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Product Name</label>
                <input name="productname"[(ngModel)]="productname"type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center"><br>
                <button (click)="search()"class="btn btn-info">Search</button>
            </div>
        </div>
    </div>

    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let j of searchProduct">
        <div class="card">
            <img height="300px" width="300px" src="{{j.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="text-dark"class="card-title">Product: {{j.productname}}</h5>
              <p class="card-text">Category: {{j.category}}</p>
              <p class="card-text">Description: {{j.description}}</p>
              <p class="card-text">Price: {{j.price}}</p>
              
              
              
            </div>
          </div>
          
    </div>
</div>
</div>